
.container {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;

  padding: 1.25rem .625rem .625rem;
  background-color: $color-background;
  border: .0625rem solid $color-green;
}

header {
  text-align: center;
}

h2 {
  margin: 10px 0 25px;
  color: $color-green;
}

a.plus, a.minus {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid $color-green;
  border-radius: 50%;
  text-decoration: none;
  color: $color-green;
  margin: 0 20px;
}
a.plus:before {
  content: "+";
}
a.minus:before {
  content: "-";
}

p {
  margin: 0;
  font-weight: 600;
}

table {
  margin-bottom: 20px;

  td:first-child {
    min-width: 60px;
  }
}
